{% if grid.data|length > 0 %}

    <table class="table table-bordered table-striped table-hover">

    {% for col in grid.columns %}
    	<th>{{ col.label|title|trans }}</th>
    {% endfor %}

    {% for data in grid.data %}
    	<tr>
		    {% for col in grid.columns if data[col.name] is defined %}
			    <td>{{ data[col.name]|raw }}</td>
		    {% endfor %}
	    </tr>
    {% endfor %}

    </table>
{% else %}
    <h3>{{ 'No %s found'|trans|replace({'%s' : grid.name}) }}</h3>
{% endif %}
